@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin:0;
}

body {
    background-color: #EEF0F4;
}
/* HEADER */
#header-div {
    width: 815px;
    margin: 40px auto 20px auto;
    margin-bottom: 50px;
}

h2 {
    margin: 10px 0;
}

.smallheadertext {
    margin-top: 10px;
    font-size: .7rem;
}

a {
    color: #3f0098;
}

/* HEADER END */

/* TABS */
#tabs {
    width: 815px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    position:relative; /* see dif?? */
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to bottom, #EEF0F4 34%, black 34%);
    box-shadow: 10px 13px black;
}

.tab-button {
    padding:10px;
    width:19.9%;
    border-radius: 6px 6px 0 0;
    border: 2.5px solid black;
    position: relative;
    cursor: pointer;
    z-index: 2;
    color: white;
    overflow: hidden;
}


.tab-button.active {
    border-bottom: transparent;
}

.tab-button:nth-of-type(1) {
    background-color: #7F7EFF;
}

.tab-button:nth-of-type(2) {
    background-color: #7F2982;
}

.tab-button:nth-of-type(3) {
    background-color: #F2BB05;
}

.tab-button:nth-of-type(4) {
    background-color: #E85F5C;
}

.tab-button:nth-of-type(5) {
    background-color: blueviolet;
}


/* TABS END */



/* CONTENT */
.content {
    display: none;
    border-radius: 4px 4px 5px 5px;
    border-top:none;
    outline:2.5px solid black;  
    background-color: blueviolet;
    min-height: 580px;
    width: 815px;
    margin: 0 auto 50px auto;
    position: relative;
    top: 0;
    color: white;
    box-shadow: 10px 10px black;
}

.div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 30px 7px 20px 7px;
}

.content-item {
    width: 160px;
    height: 160px;
    border: solid black;
    background-color: #EEF0F4;
    border-radius: 13px;
    margin: 7px;
    padding:7px 11px;
    color:black;
    box-shadow: 4px 4px black;

}

.content-item h4 {
    display: inline;
    padding-left:2px;
}

.content-item i {
    padding-right:2px;
}

.maintext {
    margin-top: 5px;
    margin-left: 2px;
    font-size: .725rem;
}

.subtext {
   font-size: .6rem;
   margin-top: 2px;
   margin-left:2px;
   color: #3f0098;
}

h5 {
    display: inline;
    float:right;
    margin-top: .5px;
    margin-right: 1px;
    color: #000000;
    background-color: #d1c0ff;
    outline: 2.4px solid; 
    padding: 1.8px;
    border-radius: 3px;

}
.mimo {
    padding-bottom: 3px;
}

.sololearntext {
    margin-top: 3px;
}

#icon-div {
    display: flex;
    justify-content: center;
    margin-top:34px;
}

#icon-div a {
    text-decoration: none;
    margin: 2px;
    color: #3f0098;
}


/* LOGOS */


#scrimba-logo {
    width:47px;
    border-radius: 50%;
    float:right;  
}

#codercoderimg {
    width:47px;
    border-radius: 50%;
    float:left;
    padding-right:5px;
}

.w3schools-logo {
    width:34px;
    float:right;
}

#dev-img {
    width:45px;
    border-radius: 50%;
    float:left;
    padding-right: 8px;
}

#mimo-logo {
    width: 20px;
    float:right;
    border-radius: 5px;
    margin-right: 5px;
}

#sololearn-logo {
    width: 25px;
    float:right;
    border-radius: 5px;
    margin-right: .5px;
}

#froggy-img {
    width: 30px;
    float: right;
}

#garden-img {
    width: 30px;
    float: left;
    margin-right: 15px;
}

#front-img {
    width: 25px;
    float: right;
    margin-top: 5px;
}

#scrimba-logo2 {
    width:47px;
    border-radius: 50%;
    float:left; 
    margin-right:8px;
}

#dev-img2 {
    width:45px;
    border-radius: 50%;
    float:right;
}

#cssdays-img  {
    width: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 6px;
}


.hackerrank-logo {
    width: 30px;
    float: left;
    margin-right: 10px;
    border-radius: 6px;
}

#fcclogojs {
    padding-top:10px;
    padding-left: 10px;
}

#dare-logo {
    width:30px;
    float:left;
    margin-right: 10px;
}


/* LOGOS END */

#jssmall {
    display:none;
}


#html {
    display: block;
    background-color: #7F7EFF;
}
#css {
    background-color: #7F2982;
}
#javascript {
    background-color: #F2BB05;
}
#sql {
    background-color: #E85F5C;
}
#python {
    background-color: blueviolet;
}

.footer {
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width: 860px){
    #tabs {
        width: 618px;
    }
    
    
    .content {
        width: 618px;
    }
    #header-div {
        width: 618px;}
}

@media (max-width: 660px) {
    #tabs {
        width: 420px;
    }

    .content {
        width: 420px;
    }
    
    .tab-button {
        font-size: .75rem;
    }
    #header-div {
        width: 420px;}
    
}

@media (max-width: 460px) {
    #tabs {
        width: 80vw;
    }

    .content {
        width: 80vw;
    }
    
    .tab-button {
        padding:5px 0 5px 0;
        font-size: .68rem;
    }

    #javasfull {
        display: none;
    }

    #jssmall {
        display:block;
    }
    #header-div {
        width: 80vw;}

    .div-container {
        justify-content: center;
    }

    .content-item {
        width:89%;
        height: auto;
        padding-bottom: 15px;
    }
}